.primerDiv{
  background-color: brown;
  padding: 3px;
justify-content: center;
  color: white;
}

ul li{
  list-style: none;
}
ul{
  display: flex;
}

.segDiv{
  background-color: red;
  padding: 50px;
  color: white;
}

.terDiv{
  background-color: white;
  color: black;

}

.li{
font-size: 30px;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}




